.navbar-nav .nav-item .nav-link {
  color: red;
}

.container-fluid {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container-fluid img {
  max-width: 100px; /* Adjust width of the logo */
  height: auto;/* Maintain aspect ratio */ 
 } 

 .navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
} 

.under {
  width: 25px;
  height: 3px;
  background: linear-gradient(rgba(100,200,300), rgba(400,100,500));
  display: none; /* Initially hiding the underline */
}

.navbar-nav .nav-item .nav-link:hover::.under {
  display: block; /* Display the underline when hovering */
}  

.navbar-nav .nav-item .nav-link:hover {
  font-size: 25px;
  font-family: italic;
} 
 .navbar-nav .nav-item .nav-link {
  color: red;
  position: relative; /* Adding relative positioning */
 } 

.navbar-nav .nav-item .nav-link::after {
  content: ''; /* Adding content for pseudo-element */
  position: absolute; /*Positioning relative to the link*/
  left: 0; /* Aligning with the link*/ 
  bottom: -3px; /* Adjusting distance from the link */
  width: 100%; /* Spanning the full width of the link */
  height: 3px; /* Height of the underline */
  background: linear-gradient(rgba(100,200,300), rgba(400,100,500)); /* Gradient for the underline */
  transition: bottom 0.3s ease; /* Adding transition for smooth effect */
  visibility: hidden; /* Initially hidden */
} 
 .navbar-nav .nav-item .nav-link:hover::after {
  bottom: 0; /* Move the underline to show it */
  /* visibility: visible;  Make the underline visible  */
} 

.navbar-nav .nav-item .nav-link:hover {
  font-size: 25px;
  font-family: italic;
} 

